.startscreen {
    background-color: black;
    background-image: url(/assets/img/rof-bg.png);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    img {
        @media (max-width: 720px) {
            width: 80vw;
        }
    }
}

.startLabel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 14vw;
        &:hover {
            filter: brightness(1.1);
            cursor: pointer;
        }
        @media (max-width: 720px) {
            width: 25vw;
        }
    }
}